<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.cse5326.gitnote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Github.Auth.AuthActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NoteShowActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".NoteEditActivity"
            android:parentActivityName=".NoteShowActivity"/>
        <activity android:name=".RepoListShowActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RepoShowActivity"
            android:parentActivityName=".RepoListShowActivity"/>
        <activity android:name=".MileStoneNoteListActivity"
            android:parentActivityName=".RepoShowActivity"/>
    </application>

</manifest>